@using WebTeam.Data;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model WebTeam.Data.Article

@{
    ViewData["Title"] = "Create";

    var currentUser = await UserManager.GetUserAsync(User);
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" id="createForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger" id="errorMessage" style="display:none;">
                    <ul>
                        @foreach (var key in ViewData.ModelState.Keys)
                        {
                            foreach (var errorMessage in ViewData.ModelState[key].Errors)
                            {
                                <li>@errorMessage.ErrorMessage</li>
                            }
                        }
                    </ul>
                </div>
            }
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <!-- Thêm thuộc tính accept để chỉ chấp nhận tệp định dạng docx hoặc pdf-->
                <input type="file" name="file" class="form-control" accept=".docx, .pdf" required />
                <!-- Sử dụng thuộc tính required để bắt buộc người dùng chọn tệp -->
                <span asp-validation-for="Content" class="text-danger"></span>
                <div id="fileErrorMessage" class="text-danger" style="display:none;">
                    Only .docx and .pdf files are allowed.
                </div>
            </div>
            <div class="form-group">
                <label asp-for="MagazineCover" class="control-label"></label>
                <input asp-for="MagazineCover" type="file" name="coverFile" class="form-control" accept="image/*" required />
                <span asp-validation-for="MagazineCover" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@*<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="~/asset/img/taskbar.jpg">
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Boostrap 5.3.2 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="~/asset/css/main.css">
    <link rel="stylesheet" href="~/asset/css/submission.css">
    <!-- Responsive -->
    <link rel="stylesheet" href="~/asset/css/responsive.css">
    <title>Magazine of University</title>
</head>
<body>
    <section class="add_submissions">
        <header>
            <section class="header_logo container">
                <div class="left">
                    <a class="home_icon" href="index.html"><i class="fa-solid fa-house"></i></a>
                    <div class="container_search">
                        <div class="icon_search">
                            <i class="search fa-solid fa-magnifying-glass"></i>
                        </div>
                        <div class="input_search">
                            <input type="text" placeholder="search" id="search">
                            <i class="clear fa fa-times"></i>
                        </div>
                    </div>
                </div>
                <div class="brand_name">
                    <a href="index.html">Magazine of University</a>
                </div>
                <div class="right">
                    <button><i class="fa-solid fa-bell"></i></button>
                    <a href="login.html"><i class="fa-solid fa-user"></i></a>
                </div>
            </section>
            <section class="hero">
                <nav>
                    <ul>
                        <li>
                            <a class="category" href="#">Information Technology</a>
                            <ul class="submenu">
                                <li><a href="#">Computer Science</a></li>
                                <li><a href="#">Information Technology</a></li>
                                <li><a href="#">Computer Engineer</a></li>
                                <li><a href="#">Network Technology</a></li>
                                <li><a href="#">Software Engineer</a></li>
                                <li><a href="#">Management Information Systems</a></li>
                                <li><a href="#">Big Data & Machine Learning</a></li>
                                <li><a href="#">Data Communication and Computer Network</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="category" href="#">Business Administration</a>
                            <ul class="submenu">
                                <li><a href="#">Digital Marketing</a></li>
                                <li><a href="#">International Bussiness</a></li>
                                <li><a href="#">Hotel Management</a></li>
                                <li><a href="#">Management Of Tourism and Travel Services</a></li>
                                <li><a href="#">Multimedia Management</a></li>
                                <li><a href="#">Finance</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="category" href="#">Graphic & Digital Design</a>
                            <ul class="submenu">
                                <li><a href="#">Brand Identity Design</a></li>
                                <li><a href="#">Marketing Advertising Design</a></li>
                                <li><a href="#">Design UI/UX Interface</a></li>
                                <li><a href="#">Design Publications and Magazines</a></li>
                                <li><a href="#">Motion Graphic Design - Motion Graphics</a></li>
                                <li><a href="#">Art Illustration Design - Illustration Design</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </section>
        </header>
        <main class="add_submission_conatiner">
            <h3>
                Add Submission
            </h3>
            <form asp-action="Create" enctype="multipart/form-data" id="createForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="details_submission">
                <div class="due_to">
                    <p>Due To</p>
                    <input type="datetime-local" name="" id="" placeholder="DD/MM/YY, TIME">
                </div>
                <div class="submission_status">
                    <p>Submission Status</p>
                    <p>
                        <i class="fa-solid fa-circle-info"></i>
                        The article is pending submission, but you still have the chance to submit it.
                    </p>
                </div>
                <div class="attachment">
                    <p>Attachment</p>
                    <input type="file" name="" id="">
                </div>
                <div class="select_topic">
                    <p>Select one topic:</p>
                    <div class="list_topic">
                        <ol class="column_list">
                            @foreach (var category in ViewBag.CategoryId) // Sử dụng ViewBag.CategoryId hoặc danh sách category từ model
                            {
                                <li>
                                    <label>
                                        <input type="radio" name="SelectedCategory" value="@category.Value">
                                        @category.Text
                                    </label>
                                </li>
                            }                         
                        </ol>
                    </div>
                </div>
                <div class="author">
                    <p>Author</p>
                    <div class="author_input">
                        @UserManager.GetUserName(User)/@currentUser.Name
                        <input type="text" name="" id="" placeholder="Student’s Name/Email’s Student">
                        <i class="fa-solid fa-user"></i>
                    </div>
                </div>
                <div class="submission_comment">
                    <p>Submission  Comment</p>
                    <input type="text" name="" id="">
                </div>
                <div class="term_conditions">
                    <p>Term & Conditions</p>
                    <div class="term_and_conditions">
                        <ul>
                            <li>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Nulla nec justo ut velit placerat maximus. Duis quis velit
                                nec sem convallis bibendum. Donec ac nulla non augue accumsan
                                fermentum. Maecenas id quam sit amet tortor aliquet tempor.
                                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                                posuere cubilia Curae; Quisque ut mi eu turpis tincidunt dapibus.
                                Suspendisse potenti.
                            </li>
                            <li>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Nulla nec justo ut velit placerat maximus. Duis quis velit
                                nec sem convallis bibendum. Donec ac nulla non augue accumsan
                                fermentum. Maecenas id quam sit amet tortor aliquet tempor.
                                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                                posuere cubilia Curae; Quisque ut mi eu turpis tincidunt dapibus.
                                Suspendisse potenti.
                            </li>
                            <li>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Nulla nec justo ut velit placerat maximus. Duis quis velit
                                nec sem convallis bibendum. Donec ac nulla non augue accumsan
                                fermentum. Maecenas id quam sit amet tortor aliquet tempor.
                                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                                posuere cubilia Curae; Quisque ut mi eu turpis tincidunt dapibus.
                                Suspendisse potenti.
                            </li>
                            <li>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Nulla nec justo ut velit placerat maximus. Duis quis velit
                                nec sem convallis bibendum. Donec ac nulla non augue accumsan
                                fermentum. Maecenas id quam sit amet tortor aliquet tempor.
                                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                                posuere cubilia Curae; Quisque ut mi eu turpis tincidunt dapibus.
                                Suspendisse potenti.
                            </li>
                            <li>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Nulla nec justo ut velit placerat maximus. Duis quis velit
                                nec sem convallis bibendum. Donec ac nulla non augue accumsan
                                fermentum. Maecenas id quam sit amet tortor aliquet tempor.
                                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                                posuere cubilia Curae; Quisque ut mi eu turpis tincidunt dapibus.
                                Suspendisse potenti.
                            </li>
                        </ul>
                    </div>
                    <input type="radio" name="" id="">Agree to Terms and Conditions</input>
                </div>
                <div class="btn_add_article">
                    <button type="button">Upload</button>
                    <button type="button">Reset</button>
                </div>
            </div>
            </form>
            <h3 style="margin-top: 70px;">
                SUBMISSIONS FEEDBACK
            </h3>
            <div class="feedback_submission">
                <div class="comments">
                    <p>Submission Comments</p>
                    <div class="comment_content">
                        "Hello [Student's Name], <br>
                        I have carefully reviewed your paper with great interest. It addresses an important topic in the field of computer science and presents it in a clear and logical manner. <br>
                        However, there are some points I would like to suggest for improvement. Firstly, providing more specific information and illustrations with examples or real-world studies could enrich your paper. Additionally, organizing and presenting the content in a logical and cohesive manner will ensure that your ideas are effectively conveyed. <br>
                        I encourage you to discuss and explore additional literature and resources to further develop the content of your paper. If you need further assistance or detailed feedback, please don't hesitate to contact me. <br>
                        Thank you for your contribution to this project, and I look forward to receiving an update from you soon. <br>
                        Best regards, <br>
                        [Coordinator's Name]"
                    </div>
                </div>
                <div class="feedback_by">
                    <p>Feedback Comments By</p>
                    <h5>
                        <i class="fa-solid fa-user"></i>
                        Author’s Name/ Author’s Email
                    </h5>
                </div>
            </div>
        </main>
    </section>
    <!-- Footer -->
    <footer>
        <div class="widget_container">
            <div class="widget_brand">
                <div class="animated_brand">
                    <div class="word">M</div>
                    <div class="word">A</div>
                    <div class="word">G</div>
                    <div class="word">A</div>
                    <div class="word">Z</div>
                    <div class="word">I</div>
                    <div class="word">N</div>
                    <div class="word">E</div>
                    <div class="blank"></div>
                    <div class="word">o</div>
                    <div class="word">f</div>
                    <div class="blank"></div>
                    <div class="word">U</div>
                    <div class="word">N</div>
                    <div class="word">I</div>
                    <div class="word">V</div>
                    <div class="word">E</div>
                    <div class="word">R</div>
                    <div class="word">S</div>
                    <div class="word">I</div>
                    <div class="word">T</div>
                    <div class="word">Y</div>
                </div>
                <!-- <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p> -->
            </div>
        </div>
        <div class="list_footer">
            <ul>
                <li class="title_list"><a href="#">Information Technology</a></li>
                <li><a href="#">Computer Science</a></li>
                <li><a href="#">Information Technology</a></li>
                <li><a href="#">Computer Engineering</a></li>
                <li><a href="#">Network Technology</a></li>
                <li><a href="#">Software Engineering</a></li>
                <li><a href="#">Management Information Systems</a></li>
                <li><a href="#">Big Data & Machine Learning</a></li>
                <li><a href="#">Data Communication and Computer Network</a></li>
            </ul>
            <ul>
                <li class="title_list"><a href="#">Business administrator</a></li>
                <li><a href="#">Digital Marketing</a></li>
                <li><a href="#">International business</a></li>
                <li><a href="#">Hotel Management</a></li>
                <li><a href="#">Management of tourism and travel services</a></li>
                <li><a href="#">Multimedia management</a></li>
                <li><a href="#">Finance</a></li>
            </ul>
            <ul>
                <li class="title_list"><a href="#">Graphic & digital design</a></li>
                <li><a href="#">Brand identity design</a></li>
                <li><a href="#">Marketing advertising design</a></li>
                <li><a href="#">Design UI/UX interface</a></li>
                <li><a href="#">Design publications and magazines</a></li>
                <li><a href="#">Motion graphic design - motion graphics</a></li>
                <li><a href="#">Art illustration design - illustration design</a></li>
                <li><a href="#">Big Data & Machine Learning</a></li>
                <li><a href="#">Data Communication and Computer Network</a></li>
            </ul>
        </div>
        <div class="contact_footer">
            <div class="address">
                <i class="fa-solid fa-location-dot"></i>
                <p>Cong Hoa Garden Building, No. 20 Cong Hoa, Ward 12, Tan Binh District, Ho Chi Minh City</p>
            </div>
            <div class="email">
                <i class="fa-solid fa-envelope"></i>
                <p>phatnhtgcs210259@fpt.edu.vn</p>
            </div>
        </div>
        <small class="block">Copyright &copy; 2024 Enterprise Web Software Development</small>
    </footer>
    <!-- Go to top -->
    <a href="#" class="js-gotop"><i class="fa-solid fa-chevron-up"></i></a>

    <!-- Script link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Main -->
    <script src="~/asset/js/main.js"></script>
    <script src="~/asset/js/more.js"></script>
</body>
</html>*@
@section Scripts {
    <script>
        document.getElementById("createForm").addEventListener("submit", function (event) {
            var title = document.getElementById("Title").value.trim();

            if (title === '') {
                document.getElementById("titleError").style.display = "block";
                event.preventDefault(); // Ngăn chặn việc submit form
            }

        });


                // Hiển thị thông báo khi người dùng nộp file PDF

    </script>
    @*            document.getElementById("createForm").addEventListener("submit", function (event) {
                var fileInput = document.querySelector('input[type="file"]');
                if (fileInput.files.length > 0) {
                    var fileExtension = fileInput.files[0].name.split('.').pop().toLowerCase();
                    if (fileExtension === "pdf") {
                        alert("Only .docx files are allowed.");
                        event.preventDefault(); // Ngăn chặn việc submit form
                    }
                }
            });*@





    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}